body{
    height:50vh;
    width: 100%;
    background-image: url(../img/fond.jpg);
    /*parallax scrolling*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /*color*/
    color: white;
}

.bgFirstColor{
    background-color: #5b93be;
}
.bgSecondColor{
    background-color: #943eaa;
}





