body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 241, 241);
    background-color: back;
    background-image: url(/assets/image/fond.jpg);
    background-repeat: no-repeat;
    color: aliceblue;
}
